body {
    background-color: black;
    color: white;
    text-align: center;
}

header {
    font-size: 50px;
    color: cornflowerblue;
    text-align: center;
}
h2 {
    font-size: 40px;
}

button {
    background-color: cornflowerblue;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    box-shadow: 4px 6px;
    color:white;

}
button:hover {
    background-color: white;
    color: cornflowerblue;
    transform: translateY(-10px);
}